[remote "fastai"]
    url = git@github.com:fastai/fastai.git
    fetch = +refs/heads/*:refs/remotes/fastai/*
[remote "origin"]
    url = git@github.com:huangyingw/fastai_fastai.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = fastai
    target = fastai/master
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[gdif]
    ignore = dev_nbs/*.py 
    ignore = install_fastai.sh
    ignore = nbs/*.py
    ignore = test.py
